h3 {
    color: red;
}

h4.bold {
    color: black;
    font-weight: bold;
}

h4.italic {
    color: black;
    font-weight: normal;
    font-style: italic;

}

.dot {
    fill: steelblue;
    opacity: 0.7;
  }

/* Setting tooltip*/
  .tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
  }